---
---

@import "{{ site.theme }}";
#header_wrap {
 background: rgb(12, 41, 9);
}
header.inner {
 background-image: url("MainBannerGreenZoo.jpg");
}
thead {
 background-color: rgb(12, 41, 9);
}
#forkme_banner {
 background-color: rgb(12, 41, 9);
}
#footer_wrap {
 display: block;
 background-color: rgb(12, 41, 9);
}
