---
---

@import "{{ site.theme }}";
#header_wrap {
 background: rgb(12, 41, 9) url("MainBannerGreenZoo.jpg") no-repeat fixed center;
}
thead {
 background-color: rgb(12, 41, 9);
}
#forkme_banner {
 background-color: rgb(12, 41, 9);
}
#footer_wrap {
 display: block;
 background-color: rgb(12, 41, 9);
}
